.banner-main {
  position: relative;
  background: url(assets/img/2.jpg) no-repeat center center;
  background-size: cover;
  height: 550px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; 

}

.content {
  position: relative; 
  z-index: 1; 
}

.content h1 {
  font-size: 3rem; 
  font-weight: bold;
  margin: 0;
  z-index: 1 !important;
}

.content p {
  font-size: 1.2rem;
  margin: 0;
  opacity: 0.8; 
}



.nav-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
  }
  
  
  .nav-tabs .nav-link {
    border: 1px solid #ddd; 
    margin: 0 5px; 
    color: #555; 
  }
  
  .nav-tabs .nav-link.active {
    background-color: #ff7a2f; 
    color: rgb(255, 255, 255);
    border: 1px solid #ff7a2f; 
  }
  
  
  .nav-tabs .nav-link:hover {
    background-color: #f39829c6; 
    color: black;
  }
 .card-footer {
   border-top: none !important;
   background: transparent !important;
   box-shadow: none !important;
  }

.card .card-footer a.btn {
  z-index: 1; 
  position: relative;
  background-color: #ff7a2f; 
}
.card-footer a.btn:hover {
  color: #fff !important;
  background-color: #f39829c6 !important; 
}

@media only screen and (max-width:600px){
  .banner-main{
      height: 325px;
  }
}
  